header{
    font-size: 12px;
    font-weight: bold;
    #navItem{
        &:hover{
            color: $link-hover;
        }
    }
}

.container00{
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.logoPc{
    width: 240px;
    margin-left: -10px;
    margin-right: 20px;
}

#button{
    padding: $padding-button;
    border: 2px solid white;
}

.arrow{
    display: inline-block; //mesma linha do button
    width: 90px;
    margin-top: 5px;
}

.downloads{
    background-color: black;
    height: 100vh;
    padding-top: 300px;

    .linkOBC{
        text-decoration: none;
        color: $copy-color;
    }
}

.footer{
    background-color: black;
    height: 15vh;
    font-size: 12px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;

    a {
        text-decoration: none;
        color: white;
        
        &:hover{
            color: $link-hover;
        }
    }
    
    .copy{
        color: $copy-color;
    }
}

@media (max-width: 510px) {
    .downloads{
      button {
        margin: 10px 0px;
      }
    }
  }
  

@media (max-width: 405px){
   .logoPc{
    width: 180px;
    margin-top: 15px;
   }

   .footer{
    font-size: 10px;
   }
}

@media (max-width: 350px){
    .logoPc{
        width: 150px;
        margin-top: 15px;
    }
}