.container00{
    &.container08{
        background-image: url(../img/01\ \(2\).jpg);
    }
    &.container09{
        background-image: url(../img/02\ \(1\).jpg);
    }
    &.container10{
        background-image: url(../img/03\ \(2\).jpg);
    }
    &.container11{
        background-image: url(../img/04\ \(2\).jpg);
    }
    &.container12{
        background-image: url(../img/05\ \(1\).jpg);
    }
    &.textLongoHuman{
        background-color: black;
    }
}

.humanSpace{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .titleHuman08{
        font-size: 120px;
    }

    .subtitleHuman08{
        margin-top: 20px;
        margin-bottom: 50px;
        font-size: 30px;
        font-weight: 100;
    }
}

.descricaoHuman{
    background-color: black;
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .textLongoHuman{
        color: $copy-color;
        font-weight: 400;
        font-size: 20px;
        width: 800px;
    }
}

.titlePadding{
    padding-top: 200px;
}

.containerRightContent{
    margin-left: 55%;
    padding-top: 15%;
}

.containerLeftContent{
    margin-left: 5%;
    padding-top: 15%;
}

.titleHuman{
    font-size: 60px;
    font-weight: bold;
}

.subTitleHuman{
    font-weight: 300;
}

@media (max-width: 768px){
    .humanSpace{
        .titleHuman08{
            font-size: 90px;
        }
    
        img{
            width: 150px;
        }
    }

    .containerRightContent,
    .containerLeftContent{
        margin-left: 15%;
    }

    .descricaoHuman{
        .textLongoHuman{
            color: $copy-color;
            font-weight: 400;
            font-size: 18px;
            width: auto;
        }
    }
}

@media (max-width: 610px){
    .humanSpace{
        .titleHuman08{
            font-size: 60px;
        }

        .subtitleHuman08{
            font-size: 24px;
        }
    
        img{
            width: 150px;
        }
    }

    .containerRightContent,
    .containerLeftContent{
        margin-left: 5%;
    }

    .titleHuman{
        font-size: 50px;
    }
}

@media (max-width: 380px){
    .humanSpace{
        .titleHuman08{
            font-size: 40px;
        }
    
        img{
            width: 100px;
        }
    }
}

@media (max-width: 373px){
    .containerRightContent,
    .containerLeftContent{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .descricaoHuman{
        .textLongoHuman{
            color: $copy-color;
            font-weight: 400;
            font-size: 15px;
            width: auto;
        }
    }

    .titleHuman{
        font-size: 25px;
        width: 250px;
    }
    .subTitleHuman{
        font-size: 15px;
        width: 250px;
    }

    button{
        width: 200px;
        padding: 2px;
    }

    .downloads{
        button{
            width: 100px;
            padding: auto;
            font-size: 12px;
        }
    }
}

